# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# SDCC stuff
*.lnk
*.lst
*.map
*.mem
*.rel
*.rst
*.sym
*.asm

*/dep/
*/lib/
*/obj/

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

**/.directory
.kateproject
